.hide {
  display: none;
}
nav {
  font-family: monospace;
}
#home {
  font-family: monospace;
  display: flex;
  justify-content: center;
}
.correct {
  background-color: rgb(0, 255, 72);
}
.wrong {
  background-color: rgb(255, 0, 0);
}