.hide {
  display: none;
}
nav {
  font-family: monospace;
}
#home {
  font-family: monospace;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
#results {
  font-family: monospace;
  display: none;
  justify-content: center;
  text-align: center;
  margin: 10px;
}
.btnDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#answerComprobation {
  margin-top: 10px;
}
#nextButton {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#congrats {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#almost {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#deception {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: auto;
}